.login-container{
    width: 25vw;
    text-align: center;
    margin: 10vh auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    height: 60vh;
    // background: linear-gradient(rgb(189, 189, 233),rgb(232, 201, 206));
    background: rgba(0,0,0,0.3);
    opacity: 0.8;
    padding-top: 8%;
   
}
.control{
    width: 80%;
    height: 50px;
    margin: 0 auto;
}
.control > label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    color: #fff;
}
.control > input {
    width: 100%;
    border: none;
    height: 25px;
}
button {
    margin-top: 20%;
    height: 25px;
    width: 80%;
    border: none;
    // background: rgb(167 66 159);
    background: #FFF;
    // color: #fff;
    font-weight: 600;
}