nav{
    width: 100%;
    height: 60px;
    background: #eee;
    // background: rgb(208, 195, 195);
    padding: 10px 5px;
    background: hsla(0, 0%, 0%, 0.631);
}
h1{
    margin-top: 5px;
    height: 60px;
    display: inline-block;
    // color: #144483;
    color: rgb(204, 197, 197);
}
nav ul{
    display: flex;
    float: right;
    height: 40px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}
nav > ul > li {
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}
a{
    text-decoration: none;    
    color: rgb(204, 197, 197);
}